@media (min-width: 1201px) {
    
    .container-of-shymaa-photos {
        height: 20% !important;
        width: 30% !important;
        margin: 0px;
        margin-top: 5%;
        margin-left: 10%;
        justify-content: center;
    }
    
    .shymaa-photos {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }


}

@media (min-width: 319px) and (max-width: 1200px) {

    .home {
        background-color: #f4f1eb;
        height: 100vh !important;
    }
    
    .container-of-home-page {
        background-color: #f4f1eb;
        display: flex;
        flex-wrap: wrap;
    }
    
    .container-of-shymaa-photos {
        height: 70%;
        width: 50%;
        margin-top: 50px;
        margin-left: 25%;
        justify-content: center;
    }
    
    .shymaa-photos {
        height: 90%;
        width: 90%;
        object-fit: contain;
    }
    
    .heading-group-of-home-page {
        width: 50%;
        margin-right: 100px;
        padding-top: 0px;
        text-align: center;
        font-family: 'EB Garamond', serif;
        margin-left: 25%;
    }
    
    .heading-of-home-page {
        margin: 0px;
        font-family: 'EB Garamond', serif;
        font-size: 3rem;
    }
    
    .subheading-of-home-page {
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
        color: #575757;
    }

    .about-container {
        background-color: white;
        height: 78vh;
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 0%;
    }
    
    .group-aboutMe {
        width: 380px;
        margin-left: 3%;
        margin-right: 3%;
    }
    
    .headding-aboutMe {
        font-family: 'EB Garamond', serif !important;
        font-size: 1.7rem;
        margin-top: 1%;
        margin-bottom: 5%;
    }
    
    .content-aboutMe {
        width: 100%;
    }
    
    .imgContainer-aboutMe {
        width: 55%;
        object-fit: cover;
        margin: 0px;
    }
    
    .img-aboutMe {
        max-width: 100%;
        max-height: 100%;
    }

    .experience {
        background-color: #f4f1eb;
        height: 285vh;
        margin-top: 100px;
    }

    .container-experience {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .container-heading-experience {
        width: 380px;
        font-size: 1.7rem;
        font-family: 'Playfair Display', serif;
        margin-right: 0%;
        margin-left: 6%;
        padding-top: 30px;
    }

    .heading-experience {
        margin-bottom: 0px;;
    }
    
    .container-experiences{
        width: 50%;
        direction: ltr;
        margin-top: 0px;
        margin-left: 6%;
        margin-right: 0px;
        width: 88%;
    }
    
    .container-professional-development {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .container-year-professional-development {
        margin-right: 100%;
        font-weight:500;
        font-style: italic;
        font-family: 'EB Garamond', serif;
    }
    
    .container-content-professional-development {
        width: 80%;
    }
    
    .heading-professional-development {
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        margin-bottom: 5px;
    }
    
    .subHeading-professional-development {
        color: #575757;
        margin-top: 5px;
        font-family: 'EB Garamond', serif;
    }
    
    .content-professional-development {
        font-family: 'EB Garamond', serif;
    }

    .education {
        background-color: #ffffff;
        height: 65vh;
        margin-top: 50px;
    }
    
    .container-education {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .container-heading-education {
        width: 88%;
        font-size: 1.7rem;
        font-family: 'Playfair Display', serif;
        margin-right: 0%;
        margin-left: 6%;
        padding-top: 0px;
    }
    
    .heading-education {
        margin: 0px;
    }

    .container-educations{
        width: 88%;
        direction: ltr;
        margin-top: 0px;
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 6%;
    }

    #container-content-bachelor-of-science-en {
        padding-left: 0%;
    }
    
    .container-bachelor-of-science {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 7%;
    }
    
    .heading-bachelor-of-science {
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        margin-bottom: 5px;
    }
    
    .subHeading-bachelor-of-science {
        color: #575757;
        margin-top: 5px;
        font-family: 'EB Garamond', serif;
        margin-bottom: 0px;
    }
    
    .content-bachelor-of-science {
        font-family: 'EB Garamond', serif;
        margin-top: 0px;
    }

    .skillsSection {
        background-color: #f4f1eb;
        z-index: -1;
        margin: 0px;
    }
    
    .greatContainer-skillsProficiencies {
        display: flex;
        flex-wrap: wrap;
        height: 70vh;
    }
    
    .container-skillsProficiencies {
        height: 10vh;
        background-color: #f4f1eb;
        width: 100%;
    }
    
    .heading-skillsProficiencies {
        font-family: 'Playfair Display', serif;
        font-size: 1.7rem;
        margin: 0px;
        margin-top: 5%;
        margin-left: 6%;
        width: 100%;
    }
    
    .container-skills {
        height: 55vh; 
        width: 95%;
        color: white;
        background-color: #575757;
        padding-top: 7%;
        margin-left: 2.5%;
    }
    
    .skills {
        width: 90%;
        background-color: #575757;
        margin-left: 4%;
        margin-bottom: 6%;
    }
    
    .heading-skills {
        font-weight: bold;
        font-family: 'Playfair Display', serif;
    }
    
    .subheading-skills {
        font-family: 'EB Garamond', serif;
    }
    
    .content-skills {
        font-family: 'EB Garamond', serif;
        color: #d9d9d9;
    }




    .container-contactWithMe {
        background-color: black;
        color: white;
        height: 70vh;
        padding-top: 10%;
    }
    
    .group-contactWithMe {
        color: white;
        padding-top: 5%;
        padding-left: 0%;
        padding-left: 6%;
        padding-right: 7.5%;
    }

    .heading-contactWithMe {
        font-family: 'EB Garamond', serif;
        font-size: 2.5rem;
        margin: 10%;
        margin-left: 0%;
    }
    
    .group-contacts {
        font-family: 'EB Garamond', serif;
    }
    
    .subheading-contacts {
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        margin-bottom: 2%;
    }
    
    .websiteLink {
        color: white;
    }
    
    .follow-follow {
        margin-top: 15%;
    }
    
    .follow-icons {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: 1fr 1fr
    }
    
    .icon {
        width: 40px;
        height: 40px;
        object-fit: contain;
        padding: 5%;
        padding-left: 0px;
    }
    
    #twitter {
        filter: opacity(0.2) drop-shadow(0 0 #444444);
    }
    
    #youtube {
        filter: opacity(0.2) drop-shadow(0 0 #444444);
    }
    
    #hrFooter {
        height: 0.5px;
        background-color: #737373;
        border: none;
    }
    
    .footer {
        display: flex;
        justify-content: space-between;
    }
    
    .copyright {
        margin-left: 7.5%;
        font-size: x-small;
    }
    
    .myPrint {
        margin-right: 7.5%;
        font-size: x-small;
    }
    
    #YE {
        color: #bf9469;
        text-decoration: none;
    }
    

}

@media (min-width: 481px) and (max-width: 1200px) {

    .home {
        background-color: #f4f1eb;
        height: 100vh;
    }

    .container-of-home-page {
        background-color: #f4f1eb;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10%;
    }

    .container-of-shymaa-photos {
        height: 70%;
        width: 50%;
        margin: 0px;
        justify-content: center;
    }
    
    .shymaa-photos {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: solid black;
    }

    .heading-group-of-home-page {
        width: 50%;
        margin: 0px 30%;
        padding-top: 5%;
        text-align: center;
        font-family: 'EB Garamond', serif;
    }

    .group-aboutMe {
        width: 380px;
    }

    .headding-aboutMe {
        font-family: 'EB Garamond', serif !important;
        font-size: 2rem;
        margin-bottom: 10%;
    }
    
    .content-aboutMe {
        width: 100%;
    }
    
    .imgContainer-aboutMe {
        width: 40%;
        object-fit: contain;
    }
    
    .img-aboutMe {
        max-width: 100%;
        max-height: 100%;
        border: solid black;
    }

    .container-of-shymaa-photos {
        width: 40%;
        margin-left: 0%;
        justify-content: center;
    }
    
    .shymaa-photos {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border: solid black;
    }

    .tan-background {
        height: 150vh !important;
    }

    .about-container {
        height: 150vh;
        justify-content: space-between;
    }

    .group-aboutMe {
        margin-left: 11.2%;
    }

    .imgContainer-aboutMe {
        margin-left: 29.5%;
    }

    .headding-aboutMe-ar {
        font-family: 'Amiri', serif !important;
    }
    
    .experience {
        height: 315vh;
    }

    .container-experience {
        justify-content: flex-start;
        margin-left: 5.5%;
    }

    .container-heading-experience {
        padding: 0px;
    }

    .education {
        height: 100vh;
    }

    .container-education {
        margin-left: 5%;
    }

    .greatContainer-skillsProficiencies {
        height: 130vh;
    }

    .container-skills {
        height: 85vh;
    }

    .container-contactWithMe {
        height: 100vh;
    }

}

@media (min-width: 1000px) and (max-width: 1200px) and (min-height: 500px) and (max-height: 800px) {
    .home {
        height: 190vh;
    }
}

@media (min-width: 390px) and (max-width: 480px) {
    
    .home {
        background-color: #f4f1eb;
        height: 100vh;
    }

    .heading-group-of-home-page {
        padding-top: 5%;
    }

    .heading-of-home-page {
        font-size: 2em;
    }

    .container-of-home-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10%;
    }

    .container-of-shymaa-photos {
        width: 300px;
        margin: 0px !important;
        justify-content: center;
    }
    
    .shymaa-photos {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border: solid black;
    }

}

@media (min-width: 319px) and (max-width: 389px) {

    .home {
        background-color: #f4f1eb;
        height: 100vh;
    }

    .container-of-shymaa-photos {
        width: 300px;
        margin: 0px !important;
        justify-content: center;
    }
    
    .shymaa-photos {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border: solid black;
    }

    .heading-group-of-home-page {
        padding-top: 5%;
        margin: 0 0px;
    }

    .heading-of-home-page {
        font-size: 2em;
    }

    .container-of-home-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10%;
    }

}

@media (min-width: 320px) and (max-width: 450px) and (max-height: 760px) {
    .tan-background {
        height: 130vh !important;
    }

    .about-container {
        height: 100vh;
    }

    .experience {
        height: 375vh;
    }

    .education {
        height: 100vh;
    }

    .greatContainer-skillsProficiencies {
        height: 100vh;
    }

    .container-skills {
        height: 80vh;
    }

    .container-contactWithMe {
        height: 100vh;
    }
}
